@import "./styles/skeleton.css";
.App {
  background-color: #1E1E1E;
}
.title {
  text-align: center;
  color: #919191;
}

.error-message {
  background: #ff9b9b;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.bark-form,
.loading {
  width: 50%;
  margin: 0 auto;
  color: white;
}

.loading {
  text-align: center;
}

.barks {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  border-color: gray;
}

.barks > div {
  background: hsl(0, 0%, 95%);
  padding: 12px;
  border-radius: 4px;
}

.barks > div > h3 {
  word-wrap: break-word;
}

.barks > div > p {
  word-wrap: break-word;
}

.barks > div:not(:last-child) {
  margin-bottom: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}
